$color: black;

p {
  color: $color;
}

ul {
  color: $color;
}

h1 {
  color: $color;
}

.homeimg {
    width: 80%;
    height: 80%;
}


/*if wider than 1000px be blue*/
/*
@media (min-width: 1000px) {
    body {
        background-color: blue;
    }
}

/*if smaller than 1000px be red*/
/*
@media (max-width:999px) {
    body {
        background-color: red;
    }
}

#homeRow {
  padding-top: 20px;
}

 */