$color: black;

p {
  color: $color;
}

ul {
  color: $color;
}

h1 {
  color: $color;
}

%gridImg {
    width: 80%;
    height: 80%;
}

.homeImg {
  @extend %gridImg;
  padding-top: 1rem;
}

.stuartImg {
  @extend %gridImg;
  padding-top: 2rem;
  border: #6f42c1;
  position: center;
}

/*currently impacts all headers and table on services*/
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#ServiceTable{
  margin-top: 1rem;
  margin-bottom:  1rem;
}

.tablePad {
  padding: 1rem;
}

table td {
  padding: 1rem;
  text-align: left;
}

table {
  border: 1px;
}

/*if wider than 1000px be blue*/
/*
@media (min-width: 1000px) {
    body {
        background-color: blue;
    }
}

/*if smaller than 1000px be red*/
/*
@media (max-width:999px) {
    body {
        background-color: red;
    }
}

#homeRow {
  padding-top: 20px;
}

 */